@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Share Tech Mono", monospace;
  background-color: #2419B2;
}

.container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 250px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 250px;
  }
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .timer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .timer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.time_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.time {
  font-size: 100px;
  text-align: center;
  border: 2px solid #574DD8;
  background-color: #574DD8;
}

.title {
  text-align: center;
  font-size: 25px;
  background-color: #7972D8;
  border: 2px solid #7972D8;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

button {
  font-size: 35px;
  margin: 55px 25px;
  border-radius: 5px;
  width: 100px;
  height: 45px;
  background-color: #6E86D6;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  button {
    margin: 20px 5px;
  }
}

button:hover {
  background-color: #4869D6;
}

.results {
  border: 3px solid #4869D6;
  width: 300px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .results {
    margin-top: 25px;
  }
}

h2 {
  padding: 10px;
  font-size: 25px;
}

.result {
  margin-top: 10px;
}

.item {
  margin: 10px;
  font-size: 20px;
}